.imageContainer {
 background-color: aquamarine;
  width: 752px;
  height: 839px;
  position: absolute;
  left: 780px;}

.bottomImage {
  position: absolute;
  top: 5px;
  left: 17px;
  width: 735px;
  height: 804px;
  z-index: 1;
}

.topImage {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 1000px;
  width: 752px;
  height: 839px;
  z-index: 2;
}

.overlayButton {
  position: absolute;
  top: 32px; 
  left: 589px;
  z-index: 3;
  width: 122px;
  height: 42px;
  padding: 3px 26px;
  gap: 10px;
  font-size:14px
}

@media screen and (max-width: 375px) {
  .imageContainer {
    width: 375px;
    height: 426px;
  }
  .overlayButton {
    position: absolute;
    top: 18px; 
    left: 268.55px;
    z-index: 3;
    width: 87.89px;
    height: 31px;
    padding: 3px 26px;
    gap: 13px;
    font-size:11px ;
  }
  .bottomImage {
    width: 378.21px;
    height: 413.72px;
    left: 0px;
  }
  .topImage {
    width: 375px;
    height: 426px;
  }
}
